.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #3498db, #8e44ad);
  padding: 1rem;
  
}

.form {
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  transition: transform 0.3s;
  text-align: center;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  }

}

.title {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
}

.form__input {
  margin-bottom: 1.5rem;
  position: relative;

  .label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
  }

  .inputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }

  .icon {
    position: absolute;
    left: 12px;
    color: #4e54c8; 
    font-size: 1.2rem;
  }

  .input {
    width: 100%;
    padding: 1rem 1rem 1rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      outline: none;
      border-color: #4e54c8;
      box-shadow: 0 0 5px rgba(78, 84, 200, 0.5);
    }
  }

  .error {
    color: #e74c3c; 
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
  }

  .togglePassword {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #4e54c8; 
  }
}

.button {
  display: block;
  width: 100%;
  padding: 1rem;
  background: #6ab04c; 
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #4caf50; 
  }
}
